#hero {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
  display: grid;
  align-items: center;
  position: relative;
  .arrow {
    text-align: center;
    position: absolute;
    bottom: 6.944vw;
    left: 50%;
    $min_font: 20px;
    $max_font: 36px;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
    animation: scrollJump 2s ease-in-out infinite;
    color: white;
  }
  .content {
    max-width: 1200px;
    h1 {
      $min_font: 20px;
      $max_font: 60px;
      @include fluid-type($min_width, $max_width, $min_font, $max_font);
      // max-width: 657px;
      font-family: $headline;
      font-weight: 900;
      text-transform: uppercase;
      width: max-content;
      font-style: italic;
      background-image: linear-gradient(
        90deg,
        transparent 50%,
        rgba(234, 158, 66, 1) 0
      );
      background-origin: 0;
      background-size: 200% 50%;
      background-repeat: repeat-x;
      background-position: -100% 80%;
      transition: background-position 0.5s;
    }
    p {
      $min_font: 14px;
      $max_font: 18px;
      @include fluid-type($min_width, $max_width, $min_font, $max_font);
      max-width: 592px;
      margin-top: 0.1rem;
      font-weight: 600;
      letter-spacing: 0.5px;
      font-family: 'BLOKK';
    }

    button {
      margin-top: 2.5rem;
    }
  }
}
