#hero {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  // max-width: 1200px;
  margin: auto;
  display: grid;
  align-items: center;
  position: relative;
  background: linear-gradient(
      90deg,
      rgba(107, 83, 83, 0.8) 20%,
      rgba(241, 202, 71, 0.5)
    ),
    url(https://images.unsplash.com/photo-1505705694340-019e1e335916?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2089&q=80);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  @include mxl {
    height: 77vh;
    min-height: 60vh;
  }
  .arrow {
    text-align: center;
    position: absolute;
    bottom: 6.944vw;
    width: 100%;
    $min_font: 20px;
    $max_font: 36px;
    @include fluid-type($min_width, $max_width, $min_font, $max_font);
    animation: scrollJump 2s ease-in-out infinite;
    color: white;
  }
  .content {
    width: 100vw;
    max-width: 1200px;
    margin: auto;
    h1 {
      $min_font: 30px;
      $max_font: 60px;
      @include fluid-type($min_width, $max_width, $min_font, $max_font);
      font-family: $headline;
      font-weight: 900;
      text-transform: uppercase;
      width: fit-content;
      font-style: italic;
      word-break: break-all;
      hyphens: auto;
      span {
        background-image: linear-gradient(
          90deg,
          transparent 50%,
          rgba(234, 158, 66, 1) 0
        );
        background-origin: 0;
        background-size: 200% 50%;
        background-repeat: repeat-x;
        background-position: -100% 80%;
        transition: background-position 0.5s;
      }
    }
    p {
      $min_font: 14px;
      $max_font: 18px;
      @include fluid-type($min_width, $max_width, $min_font, $max_font);
      max-width: 592px;
      margin-top: 0.1rem;
      font-weight: 600;
      letter-spacing: 0.5px;
      font-family: 'BLOKK';
    }

    button {
      margin-top: 2.5rem;
    }
  }
}
