header {
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-in-out;
  &.bg-black {
    background-color: rgba($black, 1);
  }

  .navigation {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 1rem 0;
    margin: auto;
    &.desktop {
      @include mxl {
        display: none;
      }
    }

    &_brand {
      font-family: $headline;
      font-weight: 800;
      $min_font: 14px;
      $max_font: 25px;
      @include fluid-type($min_width, $max_width, $min_font, $max_font);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_links {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      font-family: $body;
      font-weight: 600;
      // max-width: 400px;
      margin-left: auto;

      &_link {
        cursor: pointer;
        user-select: none;
        transition: all ease-out 0.2s;

        &:not(:last-of-type) {
          margin-right: 1.5rem;
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }

    &.mobile {
      display: none;
      width: 100vw !important;
      max-width: none;
      margin: 0;

      .inner {
        background-color: $black;
        padding: 1rem;
        position: fixed;
        width: 100vw;
        top: 0;
        z-index: 999;
        .content {
          width: 90%;
          height: 100%;
          max-width: 1200px;
          margin: auto;
          display: flex;
          justify-content: space-between;
        }
        .navigation_brand {
          $min_font: 14px;
          $max_font: 25px;
          @include fluid-type($min_width, $max_width, $min_font, $max_font);
        }
      }

      .navigation_links {
        display: grid;
        height: 100vh;
        width: 100vw;
        padding-top: 7rem;
        margin: 0;
        background-color: $black;
        opacity: 0;
        transition: all 0.2s;
        transform: translateX(100%);

        &.showMenu {
          opacity: 1;
          transition: all 0.2s;
          transform: translateX(0);
        }
        .navigation_links_link {
          font-size: 30px;
          font-weight: 900;
          text-align: center;
          margin-right: 0;
        }
      }

      @include mxl {
        display: block;
      }
    }
  }
}

#toggle {
  position: relative;
  width: 30px;
  height: 26px;
  input {
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    &:checked {
      + span {
        background: transparent;
        &:after {
          transform: rotate(45deg) translate(-1px, -8px);
        }
        &:before {
          transform: rotate(-45deg) translate(-4px, 12px);
        }
      }
    }
  }
  span {
    position: absolute;
    width: 100%;
    height: 5px;
    background: #fff;
    margin-top: 10px;
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 5px;
      background: #fff;
      top: -9px;
      transition: 0.3s;
    }
    &:after {
      top: 9px;
    }
  }
}
