header {
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  transition: all 0.3s ease-in-out;
  &.bg-black {
    background-color: rgba($black, 1);
  }
  .top-banner {
    background: whitesmoke;
    padding: 0.5rem;
    width: 100%;
    .inner {
      margin: auto;
      max-width: 1200px;
      p {
        font-family: $headline;
        color: $black;
        cursor: pointer;
        transition: all 0.2s;
        width: max-content;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .navigation {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 1rem 0;
    margin: auto;
    &_brand {
      font-family: $headline;
      font-weight: 800;
      $min_font: 14px;
      $max_font: 25px;
      @include fluid-type($min_width, $max_width, $min_font, $max_font);
    }

    &_links {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      font-family: $body;
      font-weight: 600;
      // max-width: 400px;
      margin-left: auto;

      &_link {
        cursor: pointer;
        user-select: none;
        transition: all ease-out 0.2s;

        &:not(:last-of-type) {
          margin-right: 1.5rem;
        }

        &:hover {
          opacity: 0.7;
        }
      }
    }
  }
}
