#family,
#cyclist {
  width: 100vw;
  max-width: 1200px;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  align-items: center;
  color: $black;
  @include xl {
    width: 100vw - 10vw;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 1200px;
    height: 100%;
    align-items: center;
    justify-items: center;
    grid-gap: 50px;
    margin: auto;
    button {
      margin-top: 3rem;
    }
    @include lg1055 {
      grid-gap: 50px;
      margin-top: 50px;
    }

    @include mm {
      grid-gap: 20px;
    }

    .text {
      height: max-content;
      @include lg1055 {
        align-self: flex-start;
      }
      @include mxl {
        display: grid;
      }
      h1 {
        $min_font: 23px;
        $max_font: 36px;
        @include fluid-type($min_width, $max_width, $min_font, $max_font);
        max-width: 657px;
      }
      p {
        $min_font: 16px;
        $max_font: 18px;
        @include fluid-type($min_width, $max_width, $min_font, $max_font);
        max-width: 592px;
        margin-top: 0.5rem;
        font-family: 'BLOKK';
        color: gray;
      }
      button {
        @include mxl {
          margin-top: 2rem;
        }
      }
    }

    .image {
      height: auto;
      object-fit: fill;
      width: 100%;
      height: 100%;
      // max-width: 500px;

      img {
        border-radius: 5px;
        width: 100%;
        @include mm {
          border-radius: 0px;
        }
      }
    }
  }
}

#cyclist {
  .image {
    @include mm {
      order: -1;
    }
  }
}

#repairs {
  width: 100vw;
  height: auto;
  min-height: 60vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  align-items: center;
  background: linear-gradient(
      90deg,
      rgba(107, 83, 83, 0.8) 20%,
      rgba(241, 202, 71, 0.5)
    ),
    url(https://images.unsplash.com/photo-1527974349915-0d7b47258c02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  .content {
    max-width: 1200px;
    height: 100%;
    text-align: center;
    margin: auto;
    button {
      margin-top: 3rem;
    }

    h1 {
      $min_font: 30px;
      $max_font: 50px;
      @include fluid-type($min_width, $max_width, $min_font, $max_font);
      font-style: italic;
      width: fit-content;
      margin: auto;
      text-transform: uppercase;
      color: white;
      span {
        background-image: linear-gradient(
          90deg,
          transparent 50%,
          rgba(234, 158, 66, 1) 0
        );
        background-origin: 0;
        background-size: 200% 50%;
        background-repeat: repeat-x;
        background-position: -100% 80%;
        transition: background-position 0.5s;
      }
    }
    p {
      $min_font: 14px;
      $max_font: 16px;
      @include fluid-type($min_width, $max_width, $min_font, $max_font);
      max-width: 592px;
      margin-top: 0.5rem;
      font-family: 'BLOKK';
      color: white;
      margin: auto;
    }
  }
}
