:root {
  --p-bottom: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

body {
  color: whitesmoke;

  width: 100%;
  height: 100%;
}
h1,
h2 {
  font-family: $headline;
  hyphens: auto;
}
h1 {
  font-weight: 900;
}
h2 {
  font-weight: 600;
}
p {
  font-family: $body;
  hyphens: auto;
}

.content {
  @include xl {
    width: 100vw - 10vw !important;
    margin: auto;
  }
}
